In [1]:
import pandas as pd

In [2]:
x = pd.read_csv('Poland.txt',delimiter=':')

In [3]:
x.rename(columns = {'48504147507': 'phone',
                    'Anna': 'name',
                    'Węglińska': 'surname',
                    'female': 'gender', 'Unnamed: 5': 'location'}, inplace = True)

In [28]:
x = x[['name', 'surname', 'phone', 'gender', 'location']]
x = x.dropna()

In [13]:
drop_ind=[]
chars = ['a','e','i','o','u','y','ą','ę','ó']
for i, sur in enumerate(x.surname):
    if not any([characters in chars for characters in sur]):
        # print(i, sur)
        drop_ind.append(i)

In [26]:
# x.loc[1314967,:]
x = x.reset_index()
x = x.drop(drop_ind)

In [27]:
x

,index,name,surname,phone,gender,location
0,0,Barbara,Kolenda,48504147524,female,"Szczecin, Poland"
1,1,Zenon,Zatyracz,48504147529,male,"Szczecin, Poland"
2,2,Edward,Bocheński,48504147555,male,Nowy Sacz
3,3,Krzys,Kul,48504147598,male,"Nysa, Poland"
4,4,Ewa,Ptaszek,48504147599,female,"Krynica Zdrój, Nowy Sącz, Poland"
...,...,...,...,...,...,...
1300947,1300947,Karolina,Urbanczyk,48889996967,female,Ortowice
1300948,1300948,Dominika,Patkowska,48889998080,female,Jelesnia
1300949,1300949,Piotr,Łuszczyński,48889998255,male,Małusy Wielkie
1300950,1300950,Wojtek,Szajna,48889998437,male,"Wroclaw, Poland"
1300951,1300951,Barbara,Tochowicz,48889998495,female,"Katowice, Poland"

In [24]:
# drop_ind[-1]
x.to_csv('clean_users',encoding='utf-8',index=False)