In [2]:
import pandas as pd

In [3]:
x = pd.read_csv('Poland.txt',delimiter=':')

In [6]:
x[(x["Węglińska"] == 'Ladra' )  & (x["Anna"] == 'Kuba')]

,48504147507,100000880235955,Anna,Węglińska,female,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,4/21/2019 12-00-00 AM,Unnamed: 10,Unnamed: 11,Unnamed: 12,False,False.1,4/26/2019 6-18-55 PM,9/2/2010 12-00-00 AM
1075628,48604688083,100000294178428,Kuba,Ladra,male,Twardogóra,Twardogóra,In a relationship,NaN,9/18/2018 12-00-00 AM,NaN,NaN,NaN,False,False,4/26/2019 10-26-56 AM,12/16/2010 12-00-00 AM
1250092,48607840001,100000123230607,Kuba,Ladra,male,"Wroclaw, Poland","Wroclaw, Poland",NaN,NaN,1/26/2019 12-00-00 AM,NaN,NaN,NaN,False,False,4/27/2019 10-38-00 AM,9/3/2010 12-00-00 AM