In [3]:
import mariadb
import sys

In [2]:
# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="root",
        password="admin",
        host="localhost",
        port=3306,
        database="test"
    )
    print('localhost')
    print('connected!')

except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

localhost
connected!

In [4]:
# create table
cur.execute("CREATE OR REPLACE TABLE sample (id INT, name TEXT);")

In [7]:
# insert values
print(12)
cur.execute("INSERT INTO sample (id, name) VALUES (1,'hwdp')")
cur.execute("INSERT INTO sample (id, name) VALUES (2,'jp')")
cur.execute("INSERT INTO sample (id, name) VALUES (3,'na')")
cur.execute("INSERT INTO sample (id, name) VALUES (4,'100pro')")
cur.execute("INSERT INTO sample (id, name) VALUES (1,'haha')")

12

In [8]:
# select values
cur.execute("SELECT * FROM sample")
for item in cur:
    print(item)

(1, 'hwdp')
(2, 'jp')
(3, 'na')
(4, '100pro')
(1, 'haha')
(1, 'hwdp')
(2, 'jp')
(3, 'na')
(4, '100pro')
(1, 'haha')