In [1]:
import pandas as pd

In [2]:
x = pd.read_csv('clean_users.csv')

In [3]:
m = x[x.gender == 'male'].reset_index(drop=True)
f = x[x.gender == 'female'].reset_index(drop=True)

In [4]:
m1 = m.sample(frac=1,random_state=42).reset_index(drop=True)
m2 = m.sample(frac=1,random_state=44).reset_index(drop=True)
m3 = m.sample(frac=1,random_state=43).reset_index(drop=True)

In [5]:
m['surname'] = m1['surname']
m['phone'] = m2['phone']
m['location'] = m3['location']
m

,name,surname,phone,gender,location
0,Zenon,Sokołowski,48602369269,male,Bielsko-Biała
1,Edward,Rumin,48530525050,male,"Dobra, Zachodniopomorskie, Poland"
2,Krzys,Michalik,48517678268,male,"Leszczyna, Tarnow, Poland"
3,Cezary,Topór,48790603986,male,"Spytkowice, Bielsko, Poland"
4,Zenon,Mazurek,48535919878,male,"Łódź, Poland"
...,...,...,...,...,...
633781,Piotr,Feszter,48669802176,male,Jastrzebie Zdroj
633782,Kamil,Gębala,48508608100,male,Tarnowskie Góry
633783,Mechanika Samochodowa,Walczak,48533132990,male,Konstancin-Jeziorna
633784,Piotr,Gorska,48604914198,male,"Chorzów, Poland"
633785,Wojtek,Kozak,48788658300,male,"Lipka, Pila, Poland"

In [8]:
f1 = f.sample(frac=1,random_state=42).reset_index(drop=True)
f2 = f.sample(frac=1,random_state=44).reset_index(drop=True)
f3 = f.sample(frac=1,random_state=43).reset_index(drop=True)

In [9]:
f['surname'] = f1['surname']
f['phone'] = f2['phone']
f['location'] = f3['location']
x = m.append(f,ignore_index=True)

In [11]:
x.to_csv('users_randomized.csv',encoding='utf-8',index=False)

In [12]:
x

,name,surname,phone,gender,location
0,Zenon,Sokołowski,48602369269,male,Bielsko-Biała
1,Edward,Rumin,48530525050,male,"Dobra, Zachodniopomorskie, Poland"
2,Krzys,Michalik,48517678268,male,"Leszczyna, Tarnow, Poland"
3,Cezary,Topór,48790603986,male,"Spytkowice, Bielsko, Poland"
4,Zenon,Mazurek,48535919878,male,"Łódź, Poland"
...,...,...,...,...,...
1300947,Wiktoria,Dworszczak,48881319281,female,"Ciechocin, Toruń, Poland"
1300948,Danuta,Bieżuńska,48508058361,female,Ladek-Zdroj
1300949,Karolina,Litwin,48519480071,female,Olsztyn
1300950,Dominika,Czerechowicz,48604063158,female,Skawina
1300951,Barbara,Pilok Haławin,48728154569,female,"Głogow, Legnica, Poland"